#main_content_wrap {
	width: 100%;
	height: 600px;
	position: relative;
	background: white;
}

.controls {
	position: absolute;
	right: 10px;
	top: 10px;
}
.info {
	background: white;
	font-family: Calibri, Tahoma, Arial, sans-serif;
	font-size: 12px;
	position: relative;
}
.info label {
	display: inline-block;
	width: 65px;
}
.info span {
	font-weight: bold;
}
.zoom {
	float: right;
}
.zoom span {
	display: inline-block;
	width: 20px;
	text-align: center;
	background: white;
}
.zoom button {
	font-size: 17px;
	width: 20px;
	height: 20px;
	line-height: 14px;
	padding: 0;
}